.container{
    display: grid;
    grid-template-columns: 1r;
    grid-template-rows: minmax(30px,5vh) 70vh 25vh;
}

/*Menu de navegación*/
.header{
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
#logotipo{
    height: 30px;
}
div header nav a{
    text-decoration: none;
    margin-right: 10px;
}


/*parte del Hero*/

.hero{
    background-image: url('../images/fondoHeader.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 70vh;*/
}

.promocion{
    text-align: center;
}


/*parte del footer*/

footer{
    background-color: grey;
}

