.container{
    display: grid;
    grid-template-columns: 1r;
    grid-template-rows: 1fr 100% 1fr;
}

/*Menu de navegación*/
.header{
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
#logotipo{
    height: 30px;
}
a{
    text-decoration: none;
}


/*parte del Hero*/

.hero{
    background-image: url('../images/fondoHeader.jpg');
    background-size: 100% 100%;

}

.container{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 100px 1fr 200px;
}

/*seccion de la cabecera*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logotipo{
    width: 100px;
}
